body{
	font-family: 'Indie Flower', sans-serif;
	margin: 0px;
	background-color: #191919;
}
header{
	text-align: center;
	background-color: teal;
	/* fullscreen
	position:relative;
	z-index: 0;
	height: 100vh;
	*/
}
header img{
	margin: 0px, auto;
	border-radius: 300px;
	border: 20px solid;
	color: lightyellow;
	/* 
	max-width:100%;
    max-height:100%;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
    centering*/

}
header h1{
	font-family: 'Indie Flower', sans-serif;
	color:darkmagenta;
	font-size: 60px;
	/*position:absolute;*/
	margin:0;
}
header p{
	font-family: 'Indie Flower', sans-serif;
	color:white;
	font-size: 30px;
	/*position: absolute;
	bottom:0;*/
	text-align: center;
	margin:0;

}

main{
	background-color: #191919;
}

main h1 {
	color: white;
	
    margin:0px;
}
main li{
	color:lightblue;
	margin:0;
	font-size: 30px;
}
a{
	margin:0;
	color:lightgrey;
	font-size: 30px;

}

footer{
	background-color:#191919;
	margin:0;
	position:fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color:white;
	text-align: center;
}
